# TUPLES 

een tuple is een reeks.

Het kan allerlei soorten types bevatten. Bijvoorbeeld `int`, `float`, `str`, ...

Belangrijk bij een tuple is dat het niet kan worden veranderd. je kan wel elementen toevoegen of tuples samenvoegen. Maar je kan geen element in een tuple vervangen.

een tuple wordt gevormd door normale ( )

In [1]:
te = ()
t = (2, "MIT", 3.0)

print(t)
print(t[0])
print(t+(5,6))
print(t + (5,))
# print(t + (5))

print(t[1:2])
print(t[1][0])
print(len(t))
print(len(t+(5,)))
print(len(t+(5,None)))

(2, 'MIT', 3.0)
2
(2, 'MIT', 3.0, 5, 6)
(2, 'MIT', 3.0, 5)
('MIT',)
M
3
4
5

In [2]:
t = (2, "MIT", 3.0)

t[1] = "4"

TypeError: 'tuple' object does not support item assignment

In [ ]:
t = "a", "b", "v"

print(t)

In [ ]:
s = "a"
t = "a",
t2 = ("a")
t3 = tuple()

print(type(s)) 
print(type(t))
print(type(t2))
print(type(t3))

In [ ]:
t = tuple("woordenschat")

print(t)

In [ ]:
t = ('A',) + t
print(t)
t = ('B',) + t[:]
print(t)
t = ('C',) + t[3:]
print(t)

In [ ]:
res = (1,2,3) < (4,5,6)
print(res)
res = (6,2,3) < (4,5,6)
print(res)
res = (6,2,3) < (8,5,6)
print(res)
res = (1,2, 200_000) < (2,2,1)
print(res)
res = (2,2, 200_000) < (2,2,1)
print(res)
res = (2,2) < (2,2,1)
print(res)
res = (2,2) < (2,2)
print(res)
res = (2,2) < (1,2,1)
print(res)

In [ ]:
res = ("a", "b") < ("c", "d")
print(res)
res = (0,2) < (0,1)
print(res)

# waarden wisselen

Je kan tuples gebruiken om de waarden van variabelen te wisselen.

In [ ]:
x = 5
y = 7

x = y
y = x

print("x = ", x)
print("y = ", y)

In [ ]:
x = 5
y = 7

temp = x
x = y
y = temp

print("x = ", x)
print("y = ", y)

In [ ]:
x = 5
y = 7

# z = (x,y)
# b = z[0] - 1
print(id(x))
x, y = (y, x)
print(id(x))
# z = x, y = y, x
# print(type(z))

print("x = ", x)
print("y = ", y)
# type(x)

In [ ]:
z = (5, 7) 
z[2] = 8

In [ ]:
a,b = 1,2,3

In [ ]:
addr = 'jos@gmail.com'

username, domain = addr.split('@')

print(username, '\n', domain)

### tuples met meerdere waarden van functies

Met tuples kan je ervoor zorgen dat functies meer als 1 waarde teruggeven.

In [ ]:
def quotient_en_rest (x, y):
  q = x // y
  r = x % y
  return (q, r)

print(quotient_en_rest(9, 5))

In [ ]:
def min_max(t):
  return min(t), max(t)

t = (1,2,3,4,5,6,7,8)

print(min_max(t))
type(min_max(t))

# Manipulating Tuples

Iteratie  --> een voor een doorlopen van alle waarden in de tuple.

in het voorbeeld hieronder bestaat de tuple uit tuples.           
`((5,"Jos"), (6, "Charles"), (4, "Mark"), (9,"Jos"))`

In [9]:
def get_data(a_tuple):
  nums = ()
  words = ()

  for t in a_tuple:
    nums = nums + (t[0], )
    # print(nums)
    if t[1] not in words:
      words = words + (t[1], )
    #   print(words)
  print(type(nums))
  min_n = min(nums)
  max_n = max(nums)
  unique_words = len(words)
  return (min_n, max_n, unique_words)

T = ((5,"Jos"), (6, "Charles"), (4, "Mark"), (9,"Jos"))

print(get_data(T))
print(get_data(T)[0])
my_min, my_max, g_words = get_data(T)
print("min = ", my_min)
print("max = ", my_max)
print("unieke woorden = ", g_words)

<class 'tuple'>
(4, 9, 3)
<class 'tuple'>
4
<class 'tuple'>
min =  4
max =  9
unieke woorden =  3

## Variabel aantal argumenten 

Zoals de functie `printall()` kan je met `*` een variabel aantal argumenten toevoegen. Een parameter die begint met `*`verzamelt (of `gathers`) de argumenten in een tuple. Daaom wordt dit ook wel een **gather parameter** genoemd. 

Je kan elke naam geven aan deze argumenten. Maar het is wel de conventie om `*args` te gebruiken.

In [19]:
def printall(*args):
    print(type(args))
    print(args)
    # for element in args:
    #     print(element)

printall(1,2,"a","b")

woord_1 = "hello"
woord_2 = "wordl"
cijfer_1 = 1
cijfer_2 = 3
list_1 = [1,2,3,45]
printall(woord_1, woord_2, cijfer_1, cijfer_2, list_1)
print(woord_1, woord_2, cijfer_1, cijfer_2, list_1)

<class 'tuple'>
(1, 2, 'a', 'b')
<class 'tuple'>
('hello', 'wordl', 1, 3, [1, 2, 3, 45])
hello wordl 1 3 [1, 2, 3, 45]

In [15]:
t = (1,2,"a","b")

printall(t)

<class 'tuple'>
((1, 2, 'a', 'b'),)

In [21]:
t = (1,2,"a","b")

print(t)
print(*t)

printall(*t)

(1, 2, 'a', 'b')
1 2 a b
<class 'tuple'>
(1, 2, 'a', 'b')

In [27]:
T = (9,5,1,7,5,3,1,4,62,87)

sum(T)

184

In [23]:
sum(*T)

TypeError: sum() takes at most 2 arguments (10 given)

LISTS
Lists zijn vergelijkbaar met Tuples, maar kunnen wel aangepast worden.

je creeert lists door gebruik te maken van de vierkante haakjes [ ] .

Een list die in een andere list voorkomt, noemt men een nested list . List kunnen, net als tuples verschillende elementen (of items) hebben. Ze hoeven dus niet hetzelfde type te zijn.

Net zoals bij strings kan je specifiek elementen uit de list nemen door gebruik te maken van de [i] waarbij i=index is.

In [34]:
L = []        # = empty list
L = [2,'a', 4, [1,3]]

print(len(L))
print(L[0])
print(L[2]+1)
print(L[3])
print(L[-1])
print(L[-4])

i = 2
print(L[i-1])

4
2
5
[1, 3]
[1, 3]
2
a

In [36]:
L = [2,'a', 4, [1,3]]

# print(L[4])
print(L[-5])

IndexError: list index out of range

In [43]:
L = [0,1,2,3,4,5,6,7,8,9]

print(L[:])
print(L[1:4])

print(L[:4])
print(L[4:])

L[3:5] = ["x", "y"]
print(L)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3]
[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]
[0, 1, 2, 'x', 'y', 5, 6, 7, 8, 9]

In [44]:
L = [1,2,3]

L[1] = 5

print(L)

[1, 5, 3]

In [45]:
L = [1,5,3,7,5]

total = 0

for i in range(len(L)):
  total += L[i]
print(total)

21

In [46]:
sum(L)

21

In [47]:
L = [1,5,3,7,5]

total = 0

for i in L:
  total += i
print(total)

21

In [54]:
kazen = ["Cheddar", "Gouda", "Brie_Z", "Emmentaal", "CaBrie"]

for kaas in kazen:
  print(kaas)

print("\n")

print("Brie" in kazen)
print("Maredsous" in kazen)

for kaas in kazen:
    if "Brie" in kaas:
        print("Yeeeuuj", kaas)

Cheddar
Gouda
Brie_Z
Emmentaal
CaBrie


False
False